@font-face {
  font-family: 'epilepsysans-bold';
  src: url('../fonts/epilepsysans-bold.woff2') format('woff2'), url('../fonts/epilepsysans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'songerse-bold';
  src: url('../fonts/songerse-bold.woff2') format('woff2'), url('../fonts/songerse-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'songerse-regular';
  src: url('../fonts/songerse-regular.woff2') format('woff2'), url('../fonts/songerse-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
