.section--main {
  margin-bottom: -110px;
  justify-content: flex-end;
  max-width: 450px;
  background: url('../img/main/bg.png') no-repeat center bottom;
  background-size: 134% auto;

  .title {
    margin-top: 50px;
    margin-bottom: 124%;
  }
}
