.section--main {
  margin-bottom: 0px;
  justify-content: flex-end;
  max-width: 100%;
  background: linear-gradient(180deg, #0257aa 0%, #23a0f5 70%);
  background-size: 134% auto;

  .title {
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 280px;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    max-width: 400px;
    height: 100%;
    position: absolute;
    background: url('../img/main/bg.png') no-repeat center bottom;
    background-size: 100% auto;
    bottom: 180px;
  }
}
