.title {
  display: inline-block;
  font-family: var(--bold);
  font-size: 47px;
  line-height: 1;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;

  font-style: italic;
  &.title--h1 {
    text-align: center;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.251);
  }

  &.title--h2 {
    font-size: 28px;
    @media (max-width: 359px) {
      font-size: 26px;
    }
  }
}
